
HTML
* {box-sizing: border-box;
  margin: 0;}
body {
      margin: 0;
      padding: 0;
      background: #00a08d;
      }
      .search-box {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #666666;
      height: 60px;
      border-radius: 60px;
      padding: 10px;
      }
      .search-box:hover > .search-txt {
      width: 240px;
      padding: 0 6px;
      }
      .search-box:hover > .search-btn {
      background: white;
      color: black;
      }
      .search-btn {
      color: #eeeeee;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #2f3640;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;
      color: white;
      cursor: pointer;
      text-decoration:none;
      }
      .search-btn > i {
      font-size: 20px;
      }
      .search-txt {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: white;
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;
      font-weight: bold;
      }

footer {
  Right: 0;
  Bottom: 0;
  padding: 5px 0px;
  width: 100%;
  background: #000000;
  color: white;
}

.stupedYarik{
  width: 350px;
  display: block;
  margin-right: 100%;
  font-size: 24px;
  bottom: 1000px;
}
button {
  background: #683B4D;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}